/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

html[data-theme="light"] {
  --global-bg-color: #{$epic-bg};
  --global-code-bg-color: rgba(27, 31, 35, 0.05);
  --global-text-color: #{$epic-text};
  --global-text-color-light: #444444;
  --global-theme-color: #{$epic-accent};
  --global-hover-color: #{$epic-accent};
  --global-hover-lite-color: rgba(255, 79, 0, 0.5);
  --global-footer-bg-color: #{$epic-bg};
  --global-footer-text-color: #{$epic-text};
  --global-footer-link-color: #{$epic-text};
  --global-distill-app-color: #{$epic-text};
  --global-divider-color: rgba(17, 17, 17, 0.1);
  --global-card-bg-color: #{$epic-surface};
  --global-back-to-top-bg-color: rgba(17, 17, 17, 0.5);
  --global-back-to-top-text-color: #{$epic-bg};
  --global-newsletter-bg-color: #{$epic-bg};
  --global-newsletter-text-color: #{$epic-text};

  .only-light { display: block; }
  .only-dark { display: none; }
}

html[data-theme="dark"] {
  --global-bg-color: #{$epic-bg};
  --global-code-bg-color: #2c3237;
  --global-text-color: #{$epic-text};
  --global-text-color-light: #444444;
  --global-theme-color: #{$epic-accent};
  --global-hover-color: #{$epic-accent};
  --global-hover-lite-color: rgba(255, 79, 0, 0.5);
  --global-footer-bg-color: #{$epic-bg};
  --global-footer-text-color: #{$epic-text};
  --global-footer-link-color: #{$epic-text};
  --global-distill-app-color: #{$epic-text};
  --global-divider-color: rgba(17, 17, 17, 0.1);
  --global-card-bg-color: #{$epic-surface};
  --global-back-to-top-bg-color: rgba(17, 17, 17, 0.5);
  --global-back-to-top-text-color: #{$epic-bg};
  --global-newsletter-bg-color: #{$epic-bg};
  --global-newsletter-text-color: #{$epic-text};

  .only-light { display: none; }
  .only-dark { display: block; }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
